.box {
  background-color: white;
  border-radius: 8px;
  /* display: flex; */
  justify-content: center; 
  /* width: 100%; */
}


.card-heading {
  font-weight:700 solid black;
  margin-bottom: 0px;
}

.card-content {
  border-radius: 6px;
  color: black;
  /* width: 100%;  */
  /* min-height: 15  0px;  */
  /* padding: 10px; */
  box-sizing:border-box;
}


.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

